==
<div class="container">
    <div class="row">
        <div class="col-lg-12" id="bio">
            {% component 'carousel' %}
            <div class="intro-text">
                <span class="name">Sorry,</span>
                <p>The page you were looking for could not be found!</p>
                <p>Please go back to the<a href="/"> home </a>page and try again!</p>
                <p><img src="/themes/jacoweb-freelance/assets/images/lq-logo-multi.png" class="logo" /></p>
            </div>
        </div>
    </div>
</div>