[embedTimeline]
widget-id = 624885749201117184
tweet-limit = 2
aria-polite = "assertive"
chrome = "nofooter transparent"
width = 520
height = 600
theme = "dark"
border-color = "#FFF"
dnt = 0
lang = "en"
==
<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                <h3>Latest Tweets</h3>
                <p>{% component 'embedTimeline' %}</p>
            </div>
            
            <div class="footer-col col-md-4">
                <h3>Follow me</h3>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/pages/Leo-Qwest/521662227970668?ref=hl" target="_blank" class="btn-social btn-outline btn-facebook"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/LeoQwest" target="_blank" class="btn-social btn-outline btn-twitter"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://soundcloud.com/leo-qwest" target="_blank" class="btn-social btn-outline btn-soundcloud"><i class="fa fa-fw fa-soundcloud"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=0g8Vr8yo2SU" target="_blank" class="btn-social btn-outline btn-youtube"><i class="fa fa-fw fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            
            <div class="footer-col col-md-4">
                <h3>Contact me</h3>
                <p>Email to receive your free EP!</p>
                {% component 'mailSignup' %}
                <br />
                <p><a href="mailto:info@leoqwest.com">info@leoqwest.com</a></p>
            </div>
        </div>
    </div>
</div>
<div class="footer-below qwest-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright &copy; 2015 Leo Qwest. All Rights Reserved.
            </div>
        </div>
    </div>
</div>