[carousel]
id = 1
==
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="/themes/jacoweb-freelance/assets/images/leoBioHD2.jpg" width="300px" />
        </div>
        <div class="col-lg-6" id="bio">
            
            <div class="intro-text">
                <img src="/themes/jacoweb-freelance/assets/images/LQ-Text.png" style="margin:0 auto !important;" />
                <br />
                <br />
                <p>Leo Qwest is a British vocalist and music producer.</p>
                <p>Infusing Indie Brit pop with Electronic and soul. Experimental and smooth Leo Qwest’s production takes you on a journey to the edge of the universe.                         Complimented by sharp melodic vocals that open up a door to the world of the dreamer. </p>
                <br />
                <p>Gilles Peterson who has featured Leo Qwest on BBC Radio 6 has described Leo Qwest's music as <strong>"emerging"</strong></p>
                <br />
                <p>Leo Qwest describes his sound as being <br /><strong>“music for the dreamers”</strong>.</p>
                <br />
               
                <br />
                <h3>Find me on social media</h3>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/pages/Leo-Qwest/521662227970668?ref=hl" target="_blank" class="btn-social btn-outline btn-facebook"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/LeoQwest" target="_blank" class="btn-social btn-outline btn-twitter"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://soundcloud.com/leo-qwest" target="_blank" class="btn-social btn-outline btn-soundcloud"><i class="fa fa-fw fa-soundcloud"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=0g8Vr8yo2SU" target="_blank" class="btn-social btn-outline btn-youtube"><i class="fa fa-fw fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <img src="/themes/jacoweb-freelance/assets/images/leoBioHD.jpg" width="300px" />
        </div>
    </div>
</div>